<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Listagem dos Pets Cadastrados</h1>
	<table border=1>
	<tr>
		<th>Código do Pet: </th>
		<th>Nome:</th>		
		
	</tr>
	<tr th:each="lista: ${lista_pet}">
	    <td th:text="${lista.codPet}" />
	    <td th:text="${lista.nome}" />
	</tr>
	</table>
    
    
    <a href="/inicio_cadastrar">Cadastrar novo pet</a>    
</body>
</html>