<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Front End CLIENTE</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>FRONT-END CLIENTE</h1>

<h3>Cadastro de Cliente</h3>


<table>
<tr>
	<td> Nome: </td>
   	<td><input type="text" id="nome" size="50" ><br></td>
</tr>
<tr>
	<td>Email: </td>
  	<td><input type="text" id="email" size="50"><br></td>
</tr>
<tr>
  	<td>CPF:</td>
   	<td><input type="text" id="cpf" size="20"> <br></td>
</tr>
<tr>
  	<td>CEP: </td>
  	<td><input type="text" id="cep" size="50"><br></td>
</tr>
</table>  
        
  <button onclick="criarCliente()">Adicionar</button>

   <h3>Listagem de Cliente </h3>
  <div id="listaClientes"></div> 
  
</body>

</html>


<script type="text/javascript">

const urlAPI = "http://localhost:9003/v1/cliente"; // URL da API clienteServices

// Função para criar um novo cliente
async function criarCliente() {
  
	// pega os dados da tela.
	const nome = document.getElementById("nome").value;
	const email = document.getElementById("email").value;
  	const cpf = document.getElementById("cpf").value;
  	const cep = document.getElementById("cep").value;
  
  // cria o payload para enviar a api.
	const body = {
		"nome" : nome,
		"email" : email,
		"cpf" : cpf,
		"cep" : cep
 	}
  // realiza a chamada na api
  	await fetch(urlAPI, {
    	method: "POST",
    	headers: {
      	"Content-Type": "application/json"
    	},
    	body: JSON.stringify( body )
  	}).then(response =>{
		// trata o status de sucesso.		
	  	if(response.status == 200){	  		
			alert("sucesso no cadastro do cliente");
			document.getElementById("nome").value = ""; // Limpa o campo de entrada
			document.getElementById("email").value = "";
			document.getElementById("cpf").value = "";
			document.getElementById("cep").value = "";
		}else{
			// trata o erro no cadastro.
			const data = response.text().then(d => {
				alert("Erro no cadastro \n" + d);
			});

		}	  
 	 })
  ;
  
  	carregarClientes(); // Atualiza a lista de clientes
}

//Função para carregar os clientes 
async function carregarClientes() {

	// realiza a chamda na api
	const response = await fetch(urlAPI);
  	// transforma os dados da api para cliente (json-> objeto)
	const clientes = await response.json();

  	const listaClientes = document.getElementById("listaClientes");
 	listaClientes.innerHTML = ""; // Limpa a lista antes de adicionar as tarefas
 	
 	if(clientes == ""){
 		listaClientes.innerHTML = `Nenhum cliente cadastrado
 			<br><br>
 			<input type='button' onclick='carregarClientes()' value='Atualizar'/>
 		`;
 		return;
 	}
  
 	var linhas = "<tr><th>Nome</th><th>Email</th><th>CPF</th><th>Cep</th> <th>Ação</th>";
  	// vai iterando cada cliente.
 	clientes.forEach(cliente => {    
	  linha = `
    	<tr>
    		<td>${cliente.nome}</td>
    		<td>${cliente.email}</td>
    		<td>${cliente.cpf} </td>
    		<td>${cliente.cep}</td>
    		<td>
    			<button onclick="editarTarefa(${cliente.id})">Editar</button>
      			<button onclick="excluirCliente(${cliente.id},'${cliente.nome}')">Excluir</button>
      		</td>    
    	`;
	  	linhas = linhas + linha;
  	});
  
  	listaClientes.innerHTML  =  '<table border=1>' + linhas + '</table><br>'  +
  		"<input type='button' onclick='carregarClientes()' value='Atualizar'/>";  
}

// Função para excluir um cliente
async function excluirCliente(id,nome) {
 	if (confirm("Deseja excluir o cliente " + nome + " ?")) {
    	await fetch(`${urlAPI}/${id}`, {
      	method: "DELETE"
    	});

	carregarClientes(); 
  }
}

// CONTINUAR IMPLEMENTACOES

carregarClientes();

</script>
